<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1054630844736-l1rj24h12ju9k4rph4aiiip1tqvfgl0n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1054630844736-l1rj24h12ju9k4rph4aiiip1tqvfgl0n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1054630844736-0lo0m060hvcb9fvjag5f871l4e07urbo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAic-XuajFTvo7GXvL_iy9NuDPOacjuW8Y</string>
	<key>GCM_SENDER_ID</key>
	<string>1054630844736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mada.badilAldhahab</string>
	<key>PROJECT_ID</key>
	<string>gold-sa</string>
	<key>STORAGE_BUCKET</key>
	<string>gold-sa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1054630844736:ios:990abb1c16d367bf5342a5</string>
</dict>
</plist>